/* Base styles */
@utility display-1 {
}

@utility display-2 {
}

@utility display-3 {
}

/* Title */

@utility title-1 {
	@apply text-[2.4rem] leading-[3.2rem] font-[400];
}

@utility title-2 {
	@apply text-[1.6rem] leading-[2.2rem] font-[500];
}

@utility title-3 {
	@apply text-[1.4rem] leading-[2rem] font-[500];
}

/* Body */

@utility body-1 {
}

@utility body-2 {
	@apply text-[1.4rem] leading-[2rem] font-[400];
}

@utility body-3 {
	@apply text-[1.2rem] leading-[1.8rem] font-[400];
}

/* Caption */

@utility caption {
}

/* Input */

@utility input {
}

/* Buttons */

@utility button-lg {
}

@utility button-md {
	@apply text-[14px] leading-[36px] font-[500];
}

@utility button-sm {
	@apply text-[1rem] leading-[1.4rem] font-[400];
}
